header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

main{
    margin-top: 10%;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    body {
      background-color: lightgreen;
    }
  }